<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <style>
    body{
      background-color: #FFEEA9;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-style: bold;

    }

  </style>
</head>
<body>
    <center><br><br><br><br><br><br>
    <label class="text-7xl text-center">Who's going to bat first?</label>
    <div class="grid grid-cols-2">
        <a href=""><div  class="w-half h-48 overflow-auto touch-auto text-center">Team 1</div></a>
        <a href=""></a><div class="w-half h-48 overflow-auto touch-auto text-center">Team 2</div></a>
    </div>
    </center>
</body>
</html>