<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<style>
  .box-styles {
    background-color: #ffffff;
  }
  .inform-box-sytles {
    background-color: #eaebed;
  }
</style>
<body>
    

    <div class="flex inform-box-sytles w-5/5 flex-col p-3 rounded-lg m-5  bg-grey-400 h-3/5">
        <div class="flex">
            <div class="basis-1/2 items-end font-bold justify-center ml-3 ">Bowlers Name</div>
            <div class="basis-1/2 font-semibold">figures : 4-0-4</div>
        </div>
        <div>
            <div class="flex">
                <button class="m-2 bg-green-500 text-white font-bold p-2 border-2  rounded-full w-12 h-12 flex items-center justify-center">1</button> 
                <div class="m-2  rounded-full w-12 h-12 flex items-center justify-center border-2 border-white p-5 bg-green-200 font-semibold"></div>
                <div class="m-2  rounded-full w-12 h-12 flex items-center justify-center border-2 border-white p-5 bg-green-200 font-semibold"></div>
                <div class="m-2  rounded-full w-12 h-12 flex items-center justify-center border-2 border-white p-5 bg-green-200 font-semibold"></div>
                <div class="m-2  rounded-full w-12 h-12 flex items-center justify-center border-2 border-white p-5 bg-green-200 font-semibold"></div>
                <div class="m-2  rounded-full w-12 h-12 flex items-center justify-center border-2 border-white p-5 bg-green-200 font-semibold"></div>

            </div>
        </div>

    </div>
    
<div class="sm:visible  invisible grid grid-rows-3 md:grid-rows-3">

    
    
    <div class="m-3 bg-green-200 flex flex-row sm:flex-row  rounded-lg content-center p-4">
            <div class="h-20 w-3/5  inform-box-sytles flex rounded-lg items-center font-bold justify-center mx-2">Runs</div> 
        
                <div class="h-20 sm:h-20 box-styles flex rounded-lg items-center font-bold justify-center w-1/5 sm:w-3/5 mx-2">0</div>
                <div class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-1/5 sm:w-3/5 mx-2">1</div>
                <div class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">2</div>
                <div class="h-20 box-styles flex rounded-lg items-center   font-bold justify-center w-3/5 mx-2">3</div>
                <div class="h-20 box-styles flex rounded-lg items-center  font-bold justify-center w-3/5 mx-2">5</div>
                <div class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">7</div>
                <div class="h-20 box-styles flex rounded-lg items-center bg-green-500 font-bold justify-center w-3/5 mx-2">Custom</div>
            </div>

            <div class="flex flex-row sm:visible invisible  md:hidden md:flex flex-row w-4/5 justify-start items-center">
                <div class="h-10 sm:h-20 box-styles flex rounded-lg items-center font-bold justify-center w-1/5 sm:w-3/5 mx-2">0</div>
                <div class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-1/5 sm:w-3/5 mx-2">3</div>
                <div class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">2</div>
                <div class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">4</div>
                <div class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">5</div>
                <div class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">6</div>
                <div class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">7</div>
            </div>

            <div class="m-3 bg-green-200 flex flex-row sm:flex-row  rounded-lg content-center p-4">
                <div class="h-20 w-3/5  inform-box-sytles flex rounded-lg items-center font-bold justify-center mx-2">Extras</div> 
                <button class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-1/5 mx-2">Wide Ball</button>
                <button class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-1/5 mx-2">No Ball</button> 
                <button class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-1/5 mx-2">Leg Bye</button>
                <button class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-1/5 mx-2">Bye</button>
                <div class="h-20 box-styles flex rounded-lg items-center bg-green-500 font-bold justify-center w-1/5 mx-2">Custom</div>
            </div>  


            <div class="m-3 bg-green-200 flex flex-row sm:flex-row  rounded-lg content-center p-4">
                <div class="h-20 w-3/5  inform-box-sytles flex rounded-lg items-center font-bold justify-center mx-2">Boundaries</div> 
                    <div class="h-20 sm:h-20 box-styles flex rounded-lg items-center font-bold justify-center w-1/5 sm:w-3/5 mx-2">4</div>
                    <div class="h-20 box-styles flex rounded-lg items-center font-bold justify-center w-1/5 sm:w-3/5 mx-2">6</div>
                    <div class="h-20 box-styles flex rounded-lg items-center bg-green-500 font-bold justify-center w-1/5 mx-2">Custom</div>
                </div>    
            </div>

             

        </div>
        
        
    </div>

    
    
</div>


<div class="sm:invisible sm:hidden sm:block visible  grid grid-rows-1 ">
    <div class="m-2 bg-green-200 flex flex-row rounded-lg ">
        <div class="h-30 w-1/5 m-4 inform-box-sytles flex rounded-lg items-center font-bold justify-center mx-2">Runs</div> 
        <div class="grid-cols-7	 w-4/5  font-bold  ">
            <div class="flex p-1">
                <button class="h-10 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">0</button>
                <button class="h-10 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">1</button>            
            </div>
            <div class="flex p-1">
                <button class="h-10 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">2</button>
                <button class="h-10 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">3</button>            
            </div>
            <div class="flex p-1">
                <button class="h-10 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">5</button>
                <button class="h-10 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">7</button>
            </div>
            <div class="flex p-1">
                <button class="h-10 box-styles flex rounded-lg items-center bg-green-500 font-bold justify-center w-full mx-2">Custom</button>
            </div>

        </div>
        
    </div>


    <div class="m-2 bg-green-200 flex flex-row   rounded-lg ">
        <div class="h-30 w-2/5 m-4 inform-box-sytles flex rounded-lg items-center font-bold justify-center mx-2">Boundaries</div> 
        <div class="grid-cols-7	 w-4/5  font-bold  ">
            <div class="flex p-1">
                <button class="h-10 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">4</button>
                <button class="h-10 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">6</button>            
            </div>
            <div class="flex p-1">
                <button class="h-10 box-styles flex rounded-lg items-center bg-green-500 font-bold justify-center w-full mx-2">Custom</button>
            </div>
        </div>
        
    </div>

    <div class="m-2 bg-green-200 flex flex-row   rounded-lg ">
        <div class="h-30 w-2/5 m-4 inform-box-sytles flex rounded-lg items-center font-bold justify-center mx-2">Extras</div> 
        <div class="grid-cols-7	 w-4/5  font-bold  ">
            <div class="flex p-1">
                <button class="h-10 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">Wide Ball</button>
                <button class="h-10 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">No Ball</button>            
            </div>
            <div class="flex p-1"> 
                <button class="h-10 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">Leg Bye</button>
                <button class="h-10 box-styles flex rounded-lg items-center font-bold justify-center w-3/5 mx-2">Bye</button>            
            </div>
            <div class="flex p-1">
                <button class="h-10 box-styles flex rounded-lg items-center bg-green-500 font-bold justify-center w-full mx-2">Custom</button>
            </div>
        </div>
        
    </div>
</div>

</body>
</html>

