<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <style>
    body{
      background-color: #FFEEA9;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-style: bold;

    }

  </style>
</head>
<body >
    <form>
        <div class="space-y-12 space-x-12 ">
          <div class="border-b border-gray-900/10 pb-12">
      
            <div class="mt-10 grid grid-cols-1">
              <div class="sm:col-span-4">
                <label for="username" class="block text-lg  leading-6 text-gray-900 pl-10">Team 1</label>
              <!-- this is the div containig the text box and the button-->
                <div class="mt-2 pl-10 grid grid-cols-2 gap-10">
                  <div class=" sm:col-span-4  flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 max-w-max">
                    <input type="text" name="username" id="username" autocomplete="username" class="block flex-1 border-0 py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="janesmith">
                  </div>

                  <div class="pl-10 col-start-2 sm:col-span-4 ">
                    <button type="button" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>              
            </div>
          </div>
          </div>
      </form>
      <form>
        <div class="space-y-12 space-x-12 ">
          <div class="border-b border-gray-900/10 pb-12">
      
            <div class="mt-10 grid grid-cols-1">
              <div class="sm:col-span-4">
                <label for="username" class="block text-lg  leading-6 text-gray-900 pl-10">Team 2</label>
              <!-- this is the div containig the text box and the button-->
                <div class="mt-2 pl-10 grid grid-cols-2 gap-10">
                  <div class=" sm:col-span-4  flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 max-w-max">
                    <input type="text" name="username" id="username" autocomplete="username" class="block flex-1 border-0 py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="janesmith">
                  </div>

                  <div class="pl-10 col-start-2 sm:col-span-4 ">
                    <button type="button" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>              
            </div>
          </div>
          </div>
      </form>

</body>
</html>