<!doctype html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.4.1/flowbite.js" integrity="sha512-HoR86EEia6LhUfMMFBzFB+nWZeEpYdYcpU4qe0SIEvqj1nqoaQniIyfxkwfGZ8fO5NFwMEL3cjdc0pVb8FHHfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <style>
    body{
      background-color: #FFEEA9;
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-style: bold;

    }
    h1{
      font-size: 3rem;
      font-weight: 900;
      font-style: bold;
      text-align: left;
      padding-left: 2%;
    }


  </style>
</head>
<body >
  <div class="mt-10">
    <div><h1>TEAM 1</h1></div>
    <div class="flex justify-start p-3.5 pr-10  mt-10">
      <input type="text" id="team_1_tb" class="rounded-2xl  text-black text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg--700 dark:border--600 dark:placeholder--400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required />
      <button id="Add-Player-Btn" onclick="Addplayer_team1()" class="rounded-2xl ml-10 w-1/5	bg-blue-500">Add Player</button>
    </div>
    

<div class="relative m-5 overflow-x-auto  sm:rounded-lg">
  <table class="w-full table text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase ">
          <tr class=" row-1 border-b dark:border-gray-700">
              <th scope="col" class="px-6 py-3">
                  Player Name 
              </th>
              <th scope="col" class="px-6 py-3">
                  Action
              </th>
          </tr>
      </thead>
      <tbody id="team_1_table">
      </tbody>
  </table>
</div>
<br><br><br>
  </div>
  <div class="mt-10">
    <div><h1>TEAM 2</h1></div>
    <div class="flex justify-start p-3.5 pr-10  mt-10">
      <input type="text" id="team_1_tb" class="rounded-2xl  text-black text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg--700 dark:border--600 dark:placeholder--400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required />
      <button id="Add-Player-Btn" onclick="Addplayer_team1()" class="rounded-2xl ml-10 w-1/5	bg-blue-500">Add Player</button>
    </div>
    

<div class="relative m-5 overflow-x-auto  sm:rounded-lg">
  <table class="w-full table text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase ">
          <tr class=" row-1 border-b dark:border-gray-700">
              <th scope="col" class="px-6 py-3">
                  Player Name 
              </th>
              <th scope="col" class="px-6 py-3">
                  Action
              </th>
          </tr>
      </thead>
      <tbody id="team_1_table">
      </tbody>
  </table>
</div>

  </div>
    </body>

  <script>
    team_1_players = []
    const add_player_btn = document.getElementById("Add-Player-Btn")
    function Addplayer_team1(){
      player_name = document.getElementById("team_1_tb").value
      team_1_players.push(player_name)
      render_table("team_1_table")
    }
    function remove_player(id){
      player_name_rem = id.innerText
      const index_del = team_1_players.indexOf(player_name_rem)
      team_1_players.pop(index_del)
      console.log(team_1_players)
      render_table("team_1_table")
      

    }


    function render_table(team){
      table = document.getElementById(team)
      table.innerHTML = ""
      for(let i=0;i!=team_1_players.length;i++){
        table.innerHTML += `<tr class="  border-b dark:border-gray-700">
              <th scope="row" id="team_1_${i}" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-black">
              ${team_1_players[i]}
              </th>
              
              <td  class="px-6 py-4">
                <a href="#"  onclick="remove_player(team_1_${i})" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Remove</a>
            </td>
          </tr>`
      }

    }

  </script>